body {
  font-family: 'Gotham SSm',sans-serif;
  font-size: 14px;
  color: #a3a0a0; }

.navbar {
  z-index: 100; }

.navbar-brand {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s; }

.navbar-brand img:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.img-responsive_button {
  margin-top: 190px;
  margin-left: -25px; }

.maini:hover {
  transform: scale(1.5); }

.img-fluid_mobile {
  margin-left: -105px; }

form {
  padding: 15px; }

#main_pic {
  min-width: 100%;
  max-height: 680px;
  margin-top: -80px;
  position: absolute;
  z-index: 1; }

.img-fluid_million {
  margin-bottom: -50px;
  position: relative;
  top: -60px;
  z-index: 100; }

h1.text-center_booka {
  position: relative;
  top: 110px;
  left: 22%; }

h2 {
  font-size: 25px; }

h2.text-right,
h4.text-right {
  margin-right: 35px; }

h2.text-center.persona {
  margin-top: 15px;
  margin-bottom: 45px;
  color: #a3a0a0; }

h1.text-center.profile {
  font-size: 28px;
  margin-top: -10px;
  margin-bottom: 85px; }

h1.text-sm-center {
  margin-bottom: 35px; }

h1.text-right_millJ {
  font-size: 24px;
  position: absolute;
  left: 35%;
  top: 310px;
  z-index: 150; }

h1.text-left_crime {
  position: absolute;
  top: 360px;
  left: 350px;
  font-size: 26px; }

h2.text-right.profile {
  font-size: 22px; }

h2.text-left.profile {
  font-size: 16px;
  margin-top: 10px; }

h3.text-left.profile {
  font-size: 15px; }

p.footer,
h2.text-center.Usability,
h2.text-right.persona {
  color: #a3a0a0; }

h2.text-center_crimel {
  margin-top: 30%;
  margin-left: 15%;
  font-size: 32px;
  margin-bottom: -30%; }

h2.text-right.features {
  margin-top: 20%;
  color: #a3a0a0; }

h5 {
  font-size: 16px;
  margin-right: 15px; }

h4.persona,
h3.persona,
p.persona {
  color: #a3a0a0; }

h3.persona {
  font-size: 18px; }

h4.persona {
  font-size: 12px; }

h6 {
  position: relative;
  top: 150px;
  color: #a3a0a0; }

h4.text-center {
  margin-bottom: 35px;
  font-size: 20px; }

h2.text-center.sketch,
.row.crime {
  padding-top: 30px; }

.footer li {
  display: inline; }

.footer img {
  margin: 10px 10px 0px 0px; }

.h6 {
  font-size: 12px; }

h3.float-right_over,
p.text-right_over {
  color: #a3a0a0;
  text-align: right;
  position: relative;
  top: 80px; }

p.text-justify_crime {
  margin-top: 22px; }

p.persona {
  margin-top: 5px; }

h4.float-right {
  margin-top: 18px; }

h3.float-right_crime {
  text-align: right; }

h2.text-center_crime {
  margin-top: -35px;
  margin-left: 45%;
  margin-bottom: 5px; }

hr.book {
  position: relative;
  top: 110px;
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #404040;
  color: #a3a0a0;
  border: 0 none;
  margin-left: 12%; }

.col-sm-5_boocalander {
  margin-top: 130px; }

p.crimef {
  padding-bottom: 35px; }

.container-fluid_boocalander {
  margin-top: 500px; }

.container-fluid_seperator {
  height: 90px; }

.container-fluid_seperator_l {
  height: 190px; }

.container-fluid_seperator_m {
  height: 100px; }

.container-fluid_seperator_o,
.container-fluid_seperator_n {
  height: 50px; }

hr {
  position: relative;
  top: 90px;
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a3a0a0;
  color: #a3a0a0;
  border: 0 none;
  margin-left: 12%;
  z-index: 10; }

.vl {
  border-left: 6px solid #a3a0a0;
  height: 250px;
  position: absolute;
  left: 58%;
  margin-right: 20px;
  top: 310px; }

.vl_over {
  border-left: 6px solid #a3a0a0;
  height: 325px;
  position: absolute;
  left: 100%;
  margin-right: 20px;
  top: 90px; }

.vlc {
  border-left: 4px solid #a3a0a0;
  height: 80px;
  position: absolute;
  left: 95%;
  margin-right: 20px;
  top: -25px; }

.vlcd {
  border-left: 4px solid #a3a0a0;
  height: 50px;
  position: absolute;
  left: 98%;
  margin-right: 20px;
  top: 55px; }

.crime-book,
.book-btn {
  position: relative;
  top: -5px; }

.vlc.Required {
  border-left: 4px solid #a3a0a0;
  height: 220px;
  position: absolute;
  left: 95%;
  margin-right: 20px;
  top: -25px; }

.img-fluid_books {
  border-radius: 5px; }

div.col-sm-4.boocalander {
  margin-top: 200px; }

.col-md-5_overview {
  margin-top: 30px; }

.text-sm-left {
  margin-left: 70px; }

.childbook.text-sm-left {
  margin-left: 200px; }

h2.interview {
  position: relative;
  bottom: 25px; }

img.img-thumbnail.persona {
  margin-right: 55px;
  margin-top: -55px; }

.col-xs-6.card,
.col-md-3.card {
  margin: 15px; }

.col-sm-2.jo {
  border: 0.5px solid #a3a0a0;
  min-height: 450px;
  margin-right: 10px; }

.col-sm-2.jo:first-child {
  margin-left: 50px; }

div.col-sm-8.col-md-8.crime {
  margin-top: 20px; }

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #a3a0a0;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff; }

#scroll:hover {
  background-color: #404040;
  border: 1px solid white;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

@media screen and (max-width: 414px) {
  hr {
    width: 80%; }

  .vl {
    display: none;
    border-left: 6px solid #a3a0a0;
    height: 35%;
    position: absolute;
    left: 10%;
    margin-right: 20px;
    top: 50%; } }
.explore {
  position: relative;
  left: 35%; }

/* Style the Image Used to Trigger the Modal */
.modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

.modalImg:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
