@import "mixin.scss";
// Widescreens
@include mediaXl {
    .prf{
        background: $primary;
    }
   .contact-b {
      background: rgba(lighten($primary, 2), 0.1);
        position: relative;
        top: 80%;
    }
body {
    @include background; // color:$primary;
    color: set-text-color($preprimary);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    #main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary, 10);
    color: set-text-color($primary);
    height: 60px;
   
}


}
h1.h1-cont{
   margin-bottom:150px;  
}
h2.h2-cont{
    position: absolute;
    top:120px;
}
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        color: $primary;
        font-size: 3.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    &.sm-heading {
        margin-bottom: 1.5rem;
        font-style: italic;
        padding: 0.2rem 1rem;
        color: $preprimary;
        line-height: 1.5;
        font-size:1.5em;
    }
}

a {
    color: set-text-color($primary);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    // color: $secondary;
    // text-transform: lowercase;
    font-weight: 400;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        margin-top: 2rem;
        a {
            padding: 1rem;
            -webkit-transition: 1s ease;
            -moz-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            color: $primary;
            &:hover {
                &:nth-child(1) {
                    color: $tweeter;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
                &:nth-child(2) {
                    color: $linkedIn;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
                &:nth-child(3) {
                    color: $github;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 45.7vh;
            margin-left: 55.2vw;
            text-align: center;
        }
        h2 {
            margin-left: 62vw;
        }
        .icons {
            margin-left: 69vw;
        }
    }
}
h1.abt{
    color: white;
}
.about-info {
        display: grid;
        grid-gap: 30px;
        grid-template-areas:
         'bioimage bio bio' 
         'job1 job2 job3';
        grid-template-columns: repeat(3, 1fr);
    
        .bio-image {
            grid-area: bioimage;
            margin: auto;
            width:250px;
            height: 250px;
    }
        .bio {
            grid-area: bio;
            font-size: 1.5rem;
            p{
                color:white;
            }
            h3{
                color:$secondary;
            }
        }
        .job-1 {
            grid-area: job1;
            h4, h5{
                color:$primary;
                padding-left:12px;
            }
             p {
                 font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                 color: $preprimary;
                 font-size: 0.9rem;
                 padding:12px;
                 line-height:2;
                 br{
                     margin-top: 5px;
                 }

             }
        }
        .job-2 {
            grid-area: job2;
            h4, h5{
                 color: $primary;
                 padding-left:12px;
            }
                 p {
                     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                     color: $preprimary;
                     font-size: 0.9rem;
                     padding: 12px;
                     line-height: 2;
                     br {
                         margin-top: 5px;
                     }
                 }
        }
        .job-3 {
            grid-area: job3;
            h4, h5{
                color:$primary;
                padding-left:12px;
            }
                 p {
                     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                     color: $preprimary;
                     font-size: 0.9rem;
                     padding: 12px;
                     line-height: 2;
                     br {
                         margin-top: 5px;
                     }
                 }
        }
        .job {
            background:white;
            padding: 0.5rem;
            border-bottom: $secondary 5px solid;
        }
    }

   
        .projects {
            display: grid;
            grid-gap: 0.7rem;
            grid-template-columns: repeat(4, 1fr);
            img {
                width: 100%;
                border: 3px #fff solid;
                &:hover {
                    opacity: 0.5;
                    border-color: $secondary;
                    @include easeOut;
                }
            }
        }
    
}

// Desktops & Laptops
@include mediaLg {
   .projects {
            display: grid;
            grid-gap: 0.7rem;
            grid-template-columns: repeat(3, 1fr);
            img {
                width: 100%;
                border: 3px #fff solid;
                &:hover {
                    opacity: 0.5;
                    border-color: $secondary;
                    @include easeOut;
                }
            }
           }

 h1.h1-cont {
     margin-bottom: 180px;
 }

 h2.h2-cont {
     position: absolute;
     top: 160px;
 }
h1.h1-proj{
    margin-bottom: 50px;
}
  h2.h2-proj{
      position:absolute;
      top: 150px;
  }     
body {
    @include background;
    background: $primary;
    color: set-text-color($primary);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 5rem;
       font-weight: 700;
    }
    &.sm-heading {
        color:white;
        position:absolute;
        // left:84px;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // margin-bottom: 2rem;
        // padding: 0.2rem 1rem;
        background: rgba(lighten($primary, 2), 0.7);
    }
    h3.text-secondary{
        color:$secondary;
    }
    &.letme{
        top:152px;
        left:50px;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary;
}

main {
    padding: 4rem; 
    // height: 100%;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 4.8rem;
        //  background: $primary;
      a{
          padding:1rem;
            -webkit-transition: 1s ease;
            -moz-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            
          &:hover{
              &:nth-child(1){
              color:$tweeter;
              @include easeOut();
             -webkit-transform: scale(1.25);
             -moz-transform: scale(1.25);
             -o-transform: scale(1.25);
             transform: scale(1.25);
             -webkit-transform-origin: top right;
             -moz-transform-origin: top right;
             -o-transform-origin: top right;
             transform-origin: top right;
              }
              &:nth-child(2){
                 color:$linkedIn;
                  @include easeOut();
                  -webkit-transform: scale(1.25);
                  -moz-transform: scale(1.25);
                  -o-transform: scale(1.25);
                  transform: scale(1.25);
                  -webkit-transform-origin: top right;
                  -moz-transform-origin: top right;
                  -o-transform-origin: top right;
                  transform-origin: top right;
              }
               &:nth-child(3) {
                   color: $github;
                   @include easeOut();
                   -webkit-transform: scale(1.25);
                   -moz-transform: scale(1.25);
                   -o-transform: scale(1.25);
                   transform: scale(1.25);
                   -webkit-transform-origin: top right;
                   -moz-transform-origin: top right;
                   -o-transform-origin: top right;
                   transform-origin: top right;
               }
          }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 18vh;
        }
    }
}
h1.abt {
    color: white;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        width: 250px;
        height: 250px;
    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
        p {
            color: white;
        }
        h3 {
            color: $secondary;
        }
    }
    .job-1 {
        grid-area: job1;
        h4,
        h5 {
            color: $primary;
            padding-left: 12px;
        }
        p {
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: $preprimary;
            font-size: 0.9rem;
            padding: 12px;
            line-height: 2;
            br {
                margin-top: 5px;
            }
        }
    }
    .job-2 {
        grid-area: job2;
        h4,
        h5 {
            color: $primary;
            padding-left: 12px;
        }
        p {
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: $preprimary;
            font-size: 0.9rem;
            padding: 12px;
            line-height: 2;
            br {
                margin-top: 5px;
            }
        }
    }
    .job-3 {
        grid-area: job3;
        h4,
        h5 {
            color: $primary;
            padding-left: 12px;
        }
        p {
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: $preprimary;
            font-size: 0.9rem;
            padding: 12px;
            line-height: 2;
            br {
                margin-top: 5px;
            }
        }
    }
    .job {
        // border:1px solid $preprimary;
        // background:rgba(lighten($primary, 2), 0.1);
        background: white;
        padding: 0.5rem;
        border-bottom: $secondary 5px solid;
    }
  
}
    
}

// Tablets & Small Laptops
@include mediaMd {
   .about-info {
       display: grid;
       grid-gap: 30px;
       grid-template-areas:
        'bioimage' 
        'bio' 
        'job1'
        'job2'
        'job3';
    //    grid-template-columns: repeat(3, 1fr);
       .bio-image {
           grid-area: bioimage;
           margin: auto;
           width: 250px;
           height: 250px;
       }
       .bio {
           grid-area: bio;
           font-size: 1.5rem;
           p {
               color:$primary;
           }
           h3 {
               color: $primary;
           }
       }
       .job-1 {
           grid-area: job1;
           h4,
           h5 {
               color: $primary;
               padding-left: 12px;
           }
           p {
               font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
               color: $preprimary;
               font-size: 0.9rem;
               padding: 12px;
               line-height: 2;
               br {
                   margin-top: 5px;
               }
           }
       }
       .job-2 {
           grid-area: job2;
           h4,
           h5 {
               color: $primary;
               padding-left: 12px;
           }
           p {
               font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
               color: $preprimary;
               font-size: 0.9rem;
               padding: 12px;
               line-height: 2;
               br {
                   margin-top: 5px;
               }
           }
       }
       .job-3 {
           grid-area: job3;
           h4,
           h5 {
               color: $primary;
               padding-left: 12px;
           }
           p {
               font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
               color: $preprimary;
               font-size: 0.9rem;
               padding: 12px;
               line-height: 2;
               br {
                   margin-top: 5px;
               }
           }
       }
       .job {
           margin: 10px;
           background: white;
           padding: 0.5rem;
           border-bottom: $primary 5px solid;
       }
    }
    h2.h2-proj{
        margin-bottom: 150px;
    }
    h1.lg-heading{
        margin-top: 15px;
     
    }
      #main-footer {
          text-align: center;
          padding: 1rem;
          background: darken($primary, 10);
          color: set-text-color($primary);
          height: 60px;
      }

  main {
      align-items: center;
      text-align: center;
      .lg-heading {
        
          line-height: 1;
          margin-bottom: 1rem;
      }
  }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .logo {
            background: url('../img/2019.png');
            width: 150px;
            height: 150px;
        }
    }
    
    .projects {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns:1fr;
        img {
            width: 100%;
            border: 3px #fff solid;
            &:hover {
                opacity: 0.5;
                border-color: $secondary;
                @include easeOut;
            }
        }
    }
}

// Smartphones

@include mediaSm {
    
.bio-image{
    position:relative;
    top:180px;

}
.bio{
    margin-top: 120px;
}
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 30px;
    // width:1rem;
    zoom:300%;
    cursor: pointer;
    @include easeOut;
    &.close {
        // zoom: 455%;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        right: 9.5vw;
        top: 1vh;
}
  }
  .boxes {
    position: absolute;
    top:280px;
    left:15%;
      div {
          font-size: 2rem;
          border: 3px #fff solid;
          padding: 1.5rem 2.5rem;
          margin-bottom: 3rem;
          @include easeOut;
          &:hover {
              padding: 0.5rem 1.5rem;
              background: $secondary;
              color: set-text-color($secondary);
              span {
                  color: set-text-color($secondary);
              }
          }
      }
  }
  #contact{
      height: 900px;
  }
  h1.h1-cont {
    //   margin-top:150px;
    position:absolute;
    top:150px;
    left:25%;
    margin-bottom: 180px;
  }

  h2.h2-cont {
      position: absolute;
      top: 230px;
      right:60px;
  }
     main {
         background: rgba(lighten($preprimary, 2), 0.5);
         padding-bottom: 11rem;
         margin-top:-1rem;
     }
    main#home h1 {
        margin-top: 44vh;
    }
         .projects {
          display: grid;
          grid-gap: 0.7rem;
          grid-template-columns: repeat(2, 1fr);
          img {
              width: 100%;
              border: 3px #fff solid;
              &:hover {
                  opacity: 0.5;
                  border-color: $secondary;
                  @include easeOut;
              }
          }
   h1,
   h2,
   h3 {
       margin: 0;
       font-weight: 400;
       &.h1-proj {
           font-size: 3.8rem;
           font-weight: 700;
           color: white;
       }
       &.h2-proj{
           color: white;
           position: absolute;
           left: 17%;
           margin-bottom: 2rem;
           padding: 0.2rem 1rem;
           margin-bottom: 2rem; // padding: 0.2rem 1rem;
           //    background: rgba(lighten($primary, 2), 0.7);
       }
   }
        }    
    h1.h1-proj{
        padding-top: 115px;
        margin-bottom: 75px;
       }
    .h2-proj {
        position: absolute;
        top: 190px;
        right:95px;

    }
    h1.abt{
        position: absolute;
        top:70px;
        left:25%;
    }

  
   h2.letme{
       position: absolute;
       top:150px;
       right:20%;
   }
   h1,
   h2,
   h3 {
       margin: 0;
       font-weight: 400;
       &.lg-heading
        {
           font-size: 3.8rem;
           font-weight: 700;
            color: white;
       }
       &.sm-heading {
          color:white;
           position: absolute;
           left: 17%;
           margin-bottom: 2rem;
           padding: 0.2rem 1rem; 
           margin-bottom: 2rem;
           // padding: 0.2rem 1rem;
        //    background: rgba(lighten($primary, 2), 0.7);
       }
   }

   .lg-heading{
       color:white;
   }

   a {
       color: #fff;
       text-decoration: none;
   }

      .icons {
          margin-top: 6.8rem; 
          padding-bottom: 2rem;
          //  background: $primary;
          a {
              padding: 1rem;
              -webkit-transition: 1s ease;
              -moz-transition: 1s ease;
              -o-transition: 1s ease;
              transition: 1s ease;
              &:hover {
                  &:nth-child(1) {
                      color: $tweeter;
                      @include easeOut();
                      -webkit-transform: scale(1.25);
                      -moz-transform: scale(1.25);
                      -o-transform: scale(1.25);
                      transform: scale(1.25);
                      -webkit-transform-origin: top right;
                      -moz-transform-origin: top right;
                      -o-transform-origin: top right;
                      transform-origin: top right;
                  }
                  &:nth-child(2) {
                      color: $linkedIn;
                      @include easeOut();
                      -webkit-transform: scale(1.25);
                      -moz-transform: scale(1.25);
                      -o-transform: scale(1.25);
                      transform: scale(1.25);
                      -webkit-transform-origin: top right;
                      -moz-transform-origin: top right;
                      -o-transform-origin: top right;
                      transform-origin: top right;
                  }
                  &:nth-child(3) {
                      color: $github;
                      @include easeOut();
                      -webkit-transform: scale(1.25);
                      -moz-transform: scale(1.25);
                      -o-transform: scale(1.25);
                      transform: scale(1.25);
                      -webkit-transform-origin: top right;
                      -moz-transform-origin: top right;
                      -o-transform-origin: top right;
                      transform-origin: top right;
                  }
              }
          }
      }
    
}

@include mediaXsm {
 
.boxes{
    position: absolute;
    top:355px;
    left: 8%;
    // width:5%;
    // right:1%;
    & div {
        
        font-size: 1.2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary;
            color: set-text-color($secondary); // span {
            //     color: set-text-color($secondary);
            // }
        }
    }
}
h1.h1-cont {
    //   margin-top:150px;
    position: absolute;
    top: 150px;
    left: 18%;
    margin-bottom: 180px;
}

h2.h2-cont {
    position: absolute;
    top: 230px;
    right: 15px;
}
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 30px;
    cursor: pointer;
    @include easeOut;
    &.close {
        // zoom: 455%;
        transform: rotate(360deg);
        -webkit-transform: rotate( 360deg);
        -moz-transform: rotate( 360deg);
        -ms-transform: rotate( 360deg);
        -o-transform: rotate( 360deg);
        right: 8.5vw;
        // width:5rem;
        top: 0vh;
    }
    &.logo {
        // width: -px !important;
    }
}

#contact{
padding-top: 900px;

}
    main{
         background: rgba(lighten($primary, 2), 0.7);
         padding-bottom: 11rem;
         margin-top: -15px;
      
    }
    img.item-p,
    main#home h1 {
        margin-top: 44vh;
        
    }
    .projects {
        grid-template-columns: 1fr;
    }
    h1.h1-proj{
        margin-bottom:150px;
    }
    h1.h1-proj,
    h1.abt{
        position:absolute;
        top:70px;
       left:15%;
    }
    h2.h2-proj{
  position:absolute;
  top:185px;
  right:9%;
    }
    h2.letme{
          position:absolute;
          top:145px;
          right:13%;
    }
    .bio-image{
       position: relative;
       top: 190px;
      }
      .bio {
          margin-top: 120px;
        
      }
     .bio-text {
         color: white !important;
         font-size: 16px;
     }
    h1,
    h2,
    h3 {
        margin: 0;
        font-weight: 400;
        &.lg-heading {
            font-size: 3rem;
            font-weight: 700;
            color: $secondary;
            // text-transform: uppercase;
        }
        &.sm-heading {
            color: white;
            position: absolute;
            left: 30px;
            margin-bottom: 2rem;
            // padding: 0.2rem .9rem;
            margin-bottom: 2rem; // padding: 0.2rem 1rem;
            // background: rgba(lighten($primary, 2), 0.7);
        }
    }
    .lg-heading {
        color: white;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    .icons {
        margin-top: 6.8rem; 
        //  background: $primary;
        padding-bottom:2rem;
        a {
            padding: 1rem;
            -webkit-transition: 1s ease;
            -moz-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            &:hover {
                &:nth-child(1) {
                    color: $tweeter;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
                &:nth-child(2) {
                    color: $linkedIn;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
                &:nth-child(3) {
                    color: $github;
                    @include easeOut();
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                    -webkit-transform-origin: top right;
                    -moz-transform-origin: top right;
                    -o-transform-origin: top right;
                    transform-origin: top right;
                }
            }
        }
    }
}