@import 'variable.scss';
@import 'mixin.scss';

.menu-btn{
    position:absolute;
    z-index:3;
    right:25px;
    top:25px;
    // zoom:150%;
    cursor: pointer;
    @include easeOut;
    
        &.close{
       zoom:355%;
        transform: rotate(360deg)   ;
        -webkit-transform: rotate( 360deg)   ;
        -moz-transform: rotate( 360deg)   ;
        -ms-transform: rotate( 360deg)   ;
        -o-transform: rotate( 360deg)   ;
        right:20.5vw;
        top:10.5vh;
}
}
.menu{
    position: fixed;
    top:0;
    width:100%;
    opacity: 0.9;
    visibility: hidden;
    &.show{
        visibility: visible;
    }
    &-branding, 
    &-nav{
   display:flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   float: left;
   width: 50%;
   height: 100vh;
   overflow: hidden;
    }
    &-nav{
        margin:0;
        padding: 0;
        background:darken($primary,5);
        list-style:none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
                &.show{
            transform:translate3d(0, 0, 0);
         }
}
&-branding{
    background: white;
    transform:translate3d(0, 100%, 0);
    @include easeOut;
    &.show{
        transform:translate3d(0, 0, 0)    ;
      
}

}
.nav-item{
    transform:translate3d(600px, 0, 0);
    @include easeOut();
    &.show{
   transform:translate3d(0, 50px, 0);
   -webkit-transform:translate3d(0, 50px, 0);
   -moz-transform:translate3d(0, 50px, 0);
   -ms-transform:translate3d(0, 50px, 0);
   -o-transform:translate3d(0, 50px, 0);
} 
&.current>a{
    color:$secondary;
}
}
.nav-link{
    display:inline-block;
    position:relative;
   font-size: 30px;
   text-transform: uppercase;
   padding:1rem 0;
   font-weight: 700;
   color:white;
   text-decoration:none;
   @include easeOut;
   &:hover{
       color:$secondary;
   }
}
}

//delay each nav item slide
@for $x from 1 through 4{
    .nav-item:nth-child(#{$x}){
        transition-delay: $x*0.2s;

    }
}
