$primary: rgb(138, 135, 135);
$preprimary:#a3a0a0;
$secondary: #eece1a;
$show-home-image: true;
$home-image: url('../img/123.png');
$background-opacity: 0.9;
$tweeter:#1dcaff;
$linkedIn:#0077B5;
$github:black;
